html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    /*background: linear-gradient(#fefefe, #f8f8f8);*/
    background-repeat: no-repeat;
    background: radial-gradient(#006e53, #373737);
    background-attachment: fixed;
}
.container-fluid hr {
	visibility: hidden;
}

.paramContainer {
    overflow: auto;
    margin-bottom: 8px;
}

.paramContainer > span, input {
    vertical-align: middle;
}

.paramContainer > .paramName {
    float: left;
}

.paramContainer > input {
    float: right;
}

#imageCanvas {
	border: 1px dashed grey;
	width: 100%;
	max-height: 1080px;
}

nav > .navbar-nav {
    flex-direction: row;
}

.navbar-nav > .nav-item {
    margin-left: 8px;
    margin-right: 8px;
}

.nav-tabs > li > a {
	color: white;
}

.nav-tabs > li > a:hover {
	
}

#transform-tab > div, #effects-tab > div {
	background-color: #006e1c;
	border: none;
}
#transform-tab > div:hover, #effects-tab > div:hover {
	background-color: #00a128;
}

.paramName {
	color: white;
}

#buttonSaveImage {
    margin-top: 8px;
}

.tab-content {
    padding: 1em;
}

#downloadContainer {
	margin: 1%;
}

#buttonDownloadImage {
	border-radius: 10px 1px 1px 10px;
}
#downloadSize {
	border-radius: 1px 10px 10px 1px;
	height: 4vh;
	cursor: pointer;
	color: white;
	background-color: #006e1c;
	border: 0;
}

#buttonSaveImage {
	margin: 1%;
}

.greenButton {
	color: white;
	border-radius: 10px;
	background-color: #006e1c;
	transition: 0.3s;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    /*font-size: 1.25em;*/
    /*font-weight: 700;*/
    color: white;
    background-color: #006e1c;
    display: inline-block;
    padding: 1vh 2vw 1vh 2vw;
    border-radius: 10px;
    transition: 0.3s;
    margin: 1%;
}
.inputfile + label svg {
    fill: currentColor;
}
.inputfile + label:hover, #buttonSaveImage:hover, #buttonDownloadImage:hover {
    background-color: #00a128;
    cursor: pointer;
    box-shadow: 5px 5px 10px grey;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 5px 0;
  width: 60%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #006e1c;
  border-radius: 1.3px;
  border: 0.3px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}


.form-group > label {
	color: white;
}

.centered-div {	
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 25%;
	width: 50%;
	height: 30%;
}